<!-- i am from bangalore

<div class="row">

<div class=col-md-5><h5>city/town</h5><%=current_user.city_town%></div> -->
<div class="container">
<div class="row profile">
<h4><center>My Profile</center></h4>
<div class="col-md-2"></div>
<div class="col-md-8">
<div class="row">
<div class=col-md-5><h5>about me</h5><%=current_user.about_us%></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>




<div class="row">
<div class=col-md-8><h5>my age:</h5><%=current_user.age %></div>
<div class=col-md-4><%=link_to 'edit','#'%></div>
</div>


<div class="row">
<div class=col-md-8><h5>country</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>


<div class="row">
<div class=col-md-5><h5>city/town</h5><%= current_user.city_town %></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>


<div class="row">
<div class=col-md-5><h5>resident address</h5><%= current_user.country %></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>

<div class="row">
<div class=col-md-5><h5>photos</h5><%= current_user.phone_number %>
</div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>

<div class="row">
<div class=col-md-5><h5>education background</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>

<div class="row">
<div class=col-md-5><h5>current previous team(s)</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>

<div class="row">
<div class=col-md-5><h5>my favorate leagues/team(s)</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>

<div class="row">
<div class=col-md-5><h5>my favorate role model(s)</h5></div>

</div>

<div class="row">
<div class=col-md-5><h5>my favorie football coach(es)</h5></div>

</div>

<div class="row">
<div class=col-md-5><h5>my football possition</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div><br/>
<h4><center>Social link</center></h4>

<div class="row">
<div class=col-md-5><h5>facebook</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>

<div class="row">
<div class=col-md-5><h5>twiter</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>

<div class="row">
<div class=col-md-5><h5>instagram</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>
  
  </div>
  <div class="col-md-2"></div>
  </div>
</div>
<style type="text/css">
  h4
  {
    color: green;
  }
  h5
  {
    color: green;
  }
</style>