<h4><center>My Profile</center></h4>

<div class="container">
<div class="row profile">
  <div class="col-md-3">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
        <!-- <img src="https://i.ytimg.com/vi/jJRj27LiqGo/maxresdefault.jpg" class="img-responsive" alt=""> -->
        <%if current_user.image.url(:thumb).present? %>
        <%= image_tag current_user.image.url(:thumb)%>
        <%else%>
       <%=image_tag 'pic.png', :class=>"img-circle",:alt=>"Cinque Terre",:width=>"50" ,:height=>"50" %>
        <%end%>
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
         <%= current_user.email%>
        </div>
        <!-- <div class="profile-usertitle-job">
          Developer
        </div> -->
      </div>

<div class="profile-usermenu">
        <ul class="nav">
          <li class="active">
           <!--  <a href=" /users/profile"> -->
           <%#=link_to 'my Profile',user_path(:id=>current_user.id)%>
            <!-- <i class="glyphicon glyphicon-home"></i> -->
           </a>
          </li>
          <li>
            <a href="#">
            <!-- <i class="glyphicon glyphicon-user"></i> -->
            Message </a>
          </li>
          <li>
            <a href="#" target="_blank">
            <!-- <i class="glyphicon glyphicon-ok"></i> -->
            Connection </a>
          </li>
          <li>
            <a href="#">
            <!-- <i class="glyphicon glyphicon-flag"></i> -->
            Find Agent </a>
          </li>
          <li>
            <a href="#">
            <!-- <i class="glyphicon glyphicon-flag"></i> -->
            Find Player </a>
          </li>
          <li>
            <a href="#">
            <button type="button" class="btn btn-success btn-sm">verfied</button>
            <!-- <i class="glyphicon glyphicon-flag"></i> -->
            </a>
          </li>
        </ul>
      </div>
      <!-- END MENU -->
   </div>
   </div>
<div class="col-md-6">
<div class="row">
<div class=col-md-5><h5>about me</h5><%#=@user.about_us%></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>




<div class="row">
<div class=col-md-5><h5>my age:</h5><%= best_in_place @user, :age, :as => :input,url: "/update/#{@user.id}" %></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>


<div class="row">
<div class=col-md-5><h5>country</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>


<div class="row">
<div class=col-md-5><h5>city/town</h5><%= best_in_place @user, :city_town, :as => :input,url: "/update/#{@user.id}" %></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>


<div class="row">
<div class=col-md-5><h5>resident address</h5><%= best_in_place @user, :country, :as => :input,url: "/update/#{@user.id}" %></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>

<div class="row">
<div class=col-md-5><h5>photos</h5><%= best_in_place @user, :phone_number, :as => :input ,url: "/update/#{@user.id}" %>
</div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>

<div class="row">
<div class=col-md-5><h5>education background</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>

<div class="row">
<div class=col-md-5><h5>current previous team(s)</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>

<div class="row">
<div class=col-md-5><h5>my favorate leagues/team(s)</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>

<div class="row">
<div class=col-md-5><h5>my favorate role model(s)</h5></div>

</div>

<div class="row">
<div class=col-md-5><h5>my favorie football coach(es)</h5></div>

</div>

<div class="row">
<div class=col-md-5><h5>my football possition</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div><br/>
<h4><center>Social link</center></h4>

<div class="row">
<div class=col-md-5><h5>facebook</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>

<div class="row">
<div class=col-md-5><h5>twiter</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>

<div class="row">
<div class=col-md-5><h5>instagram</h5></div>
<div class=col-md-2><%=link_to 'edit','#'%></div>
</div>
   </div>
   </div>

   <center><%=link_to "PdF open","/export/{@user.id}",:class=>"btn btn-primary"%></center>



























<style type="text/css">

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

	h4
	{
		color: green;
	}
	h5
	{
		color: green;
	}
</style>

<<!-- script type="text/javascript">
  $(document).ready(function() {

  $('.panel-heading').click(function() {
   $('.panel-body').toggle();//Form shows on button click

   });
 });
</script> -->